.card{
    width: 600px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    position: relative;
}
.card .card-tittle{
    text-align: center;
    background-color: #EEE;
}
.card .price-card{
    font-weight: bold;
    font-size: 25px;
}
.card .option-card{
    color: #8e8e8e;
    text-transform: lowercase;
}
.card .card-des::first-line{
    color: blue;
}
.card .more{
    text-decoration: underline;
    display: block;

}
.card .box{
    height: 20px;
    width: 20px;
    background-color: blue;
    display: inline-block;
}
.card .list{
    list-style: square;
}
.card .card-btn{
    display: block;
    width: 100p%;
    padding: 10px 0;
    font-weight: bold;
}
.card .card-btn:hover{
    background-color: black;
    color: white;
}
.card .sale{
    position: absolute;
    display: inline-block;
    padding: 10px;
    top: -20px;
    background-color: blue;
    color: #fff;
}